

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*---------------------------------------Começo do NAV HEADER---------------------------------------*/

a{
    color: black;
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
    opacity: 0.7;
}

.LogoNav{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #77ffc0;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #23232e;
    height: 7vh;
    color: #77ffc0;
}

.nav-list{
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.nav-list li{
    margin: 18px;
    letter-spacing: 3px;
    
}
.nav-list a{
    padding: 10px;
}

.nav-list a:hover{
    background: #77ffc0;
    border-radius: 15px;
    align-items: center;
    transition: 0.5s;
    
}

.nav-list a{
    color: #77ffc0;
}

.nav-list a:hover{
    color: black;
}

.responsiveImgNav{
    display: none;
    cursor: pointer;
    color: #77ffc0;
}

.containerAberto{
    position: fixed;
    right: 0;
    top: 50%;
}

@media (max-width: 999px){
    body{
        overflow-x: hidden;
    }
    
    .nav-list{
        position: absolute;
        top: 7vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #23232e;
        flex-direction: column;
        text-align: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-list li{
        margin-left: 0;
        
    }
    .LogoNav{
        font-size: 24px;
    }
    .responsiveImgNav{
        display: block;
        
    }
   .nav-list.active{
    transform: translateX(0);
   }

}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);

    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
    
}

/*---------------------------------------FIM DO NAV HEADER---------------------------------------*/

/*---------------------------------------Começo do MAIN HEADER---------------------------------------*/
.MainHeader{ 
    display: flex;
    height: 100vh;
    width: 100vw; 
    background: #201b2c;
    justify-content: center;
    align-items: center;
}

.MainHeader h1{
    font-size: 6vw;
}

h1, p{
    color: #77ffc0;  
}

.MainHeader p{
    max-width: 500px;
    text-align: center;
}


/*Jutify-content: ajusta o eixo X
Aligh-items: ajusta o eixo Y*/

.esquerdaHeader{
    width: 50vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imagemEsquerda{
    width: 35vw;
}

.direitaHeader{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.direitaHeaderImagem img{
    width: 60px;
    height: 60px;
    border-radius: 2px;
    padding-top: 5px;
}

/*Fim do MAIN HEADER*/

/*.card{
    width: 100px;
    padding: 16px;
    margin: 25px
    border:none;

}*/

.SeparaConteudo{
    color: #77ffc0; 
    background: #23232e;
    font-size: 40px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 4px;
}








/*---------------------------------------Começo do SOBRE---------------------------------------*/
.MainSobre{
   display: flex;
   background: #201b2c;
   height: 300px;
    
}

.EsquerdaSobre{
  padding: 0 200px;
  padding-top: 20px;
  height: 300px;
    
}

.DefineTamanhoSobreEsquerda img{
    width:250px;
    height: 250px;
    border-radius: 150px;
}



.DireitaSobre{
    padding-top: 60px;
    height: 300px;
    
}
.DefineMargemSobreDireita{
    width: 600px;
    text-align: center;
    font-size: 23px;
}

.DefineTamanhoSobreDireita img{
    padding-top: 20px;
    height: 100px;
}
.IconsSobre{
    display: flex;
    justify-content: space-around;
}
.IconsSobre img{
    cursor: pointer;
}

.IconsSobre img :hover{
    color: blue;
}


/*Icons Projects*/

.MainIconsProjects{
    height: 125px;
    background: #201b2c; 
    
}

.LarguraIconsProjects{
    width: 100%;
    height: 100px;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    color: #77ffc0; 
}

.LarguraIconsProjects img{
    width: 50px;
    height: 50px;
}

.LarguraIconsProjects h1{
    font-size: 30px;
    padding: 10px;
}

.bordaIconsProjects{
    width: 230px;
    text-align: center;
}

/*---------------------------------------Final do SOBRE---------------------------------------*/

/*---------------------------------------Começo Projects---------------------------------------*/


.mainProjects{
    height: 300px;
    background: #201b2c; 
    display: flex;
}

.LadoEsquerdoProjects{
    height: 300px;
    /*background: blue;*/
    width: 50%;
}

.LadoEsquerdoProjects img{
    height: 40px;
    width: 40px;
}

.DefineTamanhoEsquerdoProjects{
    padding: 60px;
    
    text-align: center;
}

.DefineTamanhoEsquerdoProjects h1{
    font-size: 30px;
}

.DefineTamanhoEsquerdoProjects span{
    color: #77ffc0; 
}

.LadoDireitoProjects{
    height: 300px;
    /*background: blue;*/
    width: 50%;
}

.LadoDireitoProjects img{
    width: 400px;
    height: 250px;
    border-radius: 30px;
}

.AjustaImagemProjects{
    padding: 20px;
    text-align: center;
   
}




/*----------------------------------------Fim Experiência---------------------------------------*/


/*---------------------------------------Começo do footer---------------------------------------*/

.footerMain{
    height: 50px;
    background: #23232e;
}
.ConteudoFooter{
    text-align: center;
    display: flex;
    justify-content: center;
}

/*---------------------------------------Fim do footer---------------------------------------*/