@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Teko:wght@300;400&display=swap');


*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1, p{
    color: #77ffc0;  
}

.header p{
    max-width: 500px;
    text-align: center;
}

.header{
    
    display: flex;
    height: 100vh;
    width: 100vw; 
    background: #201b2c;
    justify-content: center;
    align-items: center;
}

.header h1{
    font-size: 6vw;
}

/*Jutify-content: ajusta o eixo X
Aligh-items: ajusta o eixo Y*/

.esquerdaHeader{
    width: 50vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imagemEsquerda{
    width: 35vw;
}

.direitaHeader{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



/*.card{
    width: 100px;
    padding: 16px;
    margin: 25px
    border:none;


}*/