@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Teko:wght@300;400&display=swap');


*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*Começo do NAV HEADER*/

a{
    color: black;
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
    opacity: 0.7;
}

.LogoNav{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #77ffc0;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #23232e;
    height: 7vh;
    color: #77ffc0;
}

.nav-list{
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.nav-list li{
    margin: 18px;
    letter-spacing: 3px;
    
}
.nav-list a{
    padding: 10px;
}

.nav-list a:hover{
    background: #77ffc0;
    border-radius: 15px;
    align-items: center;
    transition: 0.5s;
    
}

.nav-list a{
    color: #77ffc0;
}

.nav-list a:hover{
    color: black;
}

.responsiveImgNav{
    display: none;
    cursor: pointer;
    color: #77ffc0;
}


.containerAberto{
    position: fixed;
    right: 0;
    top: 50%;
}

@media (max-width: 999px){
    body{
        overflow-x: hidden;
    }
    
    .nav-list{
        position: absolute;
        top: 7vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #23232e;
        flex-direction: column;
        text-align: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-list li{
        margin-left: 0;
        
    }
    .LogoNav{
        font-size: 24px;
    }
    .responsiveImgNav{
        display: block;
        
    }
   .nav-list.active{
    transform: translateX(0);
   }

}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);

    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
    
}

/*FIM DO NAV HEADER*/

/*Começo do MAIN HEADER*/
.MainHeader{
    
    display: flex;
    height: 100vh;
    width: 100vw; 
    background: #201b2c;
    justify-content: center;
    align-items: center;
}

.MainHeader h1{
    font-size: 6vw;
}

h1, p{
    color: #77ffc0;  
}

.MainHeader p{
    max-width: 500px;
    text-align: center;
}


/*Jutify-content: ajusta o eixo X
Aligh-items: ajusta o eixo Y*/

.esquerdaHeader{
    width: 50vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imagemEsquerda{
    width: 35vw;
}

.direitaHeader{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*Fim do MAIN HEADER*/

/*.card{
    width: 100px;
    padding: 16px;
    margin: 25px
    border:none;

}*/


/*COMEÇO DO Section*/


.SeparaConteudo{
    color: #77ffc0; 
    background: #23232e;
    font-size: 40px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 4px;
}


/*.SeparaConteudo h1:hover{
    background: #77ffc0;
    transition: 0.5;
    color: black;
    border-radius: 15px;
    
}*/

.sectionContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #201b2c;
    margin: auto;  
    padding: 22px;
    
}


.sectionContainer img{
    max-width: 200px;
}

.divSectionContainer{
}



/*Final do Section*/